<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615739146215-gib4b11321n7e89mgfdr2jes1f57lfj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615739146215-gib4b11321n7e89mgfdr2jes1f57lfj3</string>
	<key>API_KEY</key>
	<string>AIzaSyAe8cdM0A67XlwZd_WE-JB0zeHWCxveGVc</string>
	<key>GCM_SENDER_ID</key>
	<string>615739146215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.lukastajak.myJournal</string>
	<key>PROJECT_ID</key>
	<string>myjournal-2942d</string>
	<key>STORAGE_BUCKET</key>
	<string>myjournal-2942d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615739146215:ios:084f3cdcbd48a60dfe4742</string>
	<key>DATABASE_URL</key>
	<string>https://myjournal-2942d.firebaseio.com</string>
</dict>
</plist>